@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');
$block-height-desk: 50vh;
$block-width-desk: 50%;

// Mixins
@mixin flexbox {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin flex($values) {
    -webkit-box-flex: $values;
    -moz-box-flex: $values;
    -webkit-flex: $values;
    -ms-flex: $values;
    flex: $values;
}

@mixin order($val) {
    -webkit-box-ordinal-group: $val;
    -moz-box-ordinal-group: $val;
    -ms-flex-order: $val;
    -webkit-order: $val;
    order: $val;
}

@mixin transform($transforms) {
       -moz-transform: $transforms;
         -o-transform: $transforms;
        -ms-transform: $transforms;
    -webkit-transform: $transforms;
          transform: $transforms;
}

body {
    padding: 0;
    margin: 0;
    background: #fdcb6f;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    padding: 0;
    margin: 0;
    @include flexbox;
    flex-wrap: wrap;
    flex-direction: row;
}

.wrapper > * {
    @include flex(1 100%);
}

.block {
     height: 100vh;
     @include flexbox;
     
}

.form {
background:  url(resources/background2.png) no-repeat;
background-size: 100% 100vh;
.search {
@include transform(rotate(313deg));
    align-self: flex-end;
    padding-bottom: 50px;
    font-size: 25px;
    margin-left: 20px;
    font-weight: 300;
    color: white;
}
}


.list {
background:  url(resources/background3.png) no-repeat;
background-size: 100% 100vh;
}

.poster {
background:  url(resources/background.png) no-repeat;
background-size: 100% 100vh;
}

.descript {
background:  url(resources/background3.png) no-repeat;
background-size: 100% 100vh;
}

@media all and (min-width: 640px) {
    .block {@include flex(1 50%);
        height: 50vh;
        background-size: 100% $block-height-desk;}
    .form {@include order(1);
        .search {
    @include transform(rotate(332deg));
    align-self: flex-end;
    padding-bottom: 25px;
    margin-left: 20px;
}
}
    .list {@include order(3);}
    .poster {@include order(2);}
    .descript {@include order(4);}
    
}