@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');
body {
    padding: 0;
    margin: 0;
    background: #fdcb6f;
    font-family: 'Roboto', sans-serif;
}

div {
    display: flex;
}

.wrapper {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.wrapper > * {
    flex:1 100%;
}

.block {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.form {
    background: url("http://i.imgur.com/rYIGMCW.png") no-repeat;
    background-size: 100% 100vh;
    justify-content: space-between;
    align-items: flex-end;

    input[type="text"] {
        height: 80px;
        font-size: 25px;
        font-weight: 100;
        border: none;
        outline: none;
        color: white;
        padding-right: 60px;
        width: 0px;
        position: absolute;
        bottom: 20px;
        right: 0;
        background: none;
        z-index: 3;
        transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
        cursor: pointer;
    }
    input[type="text"]:focus {
        width: 250px;
        z-index: 1;
        border-bottom: 1px solid #BBB;
        cursor: text;
    }
    input[type="submit"] {
        height: 80px;
        width: 80px;
        background: url("http://i.imgur.com/4gsXYTm.gif") center center no-repeat;
        background-size: 80px 80px;
        text-indent: -10000px;
        border: none;
        position: absolute;
        bottom: 20px;
        right: 10px;
        z-index: 2;
        cursor: pointer;
        transition: opacity .4s ease;
    }
    input[type="submit"]:hover {
        opacity: 0.8;
    }
}

.list {
    background: url("http://i.imgur.com/MdK8IDc.png") no-repeat;
    background-size: 100% 100vh;
    align-items: center;
    .list-items {
        font-size: 14px;
        list-style-type: none;
        text-align: center;
        width: 85%;
        height: 85%;
        .active{
            background: url("http://i.imgur.com/p5MjkYA.png") no-repeat left center;
            background-size: 25px 25px;
            a {
            color: white;
            font-size: 20px;
        }
        }
            .yellow-type {
        background-color: #fdcb6f!important;
        color: #00a4c8;
    }
    .blue-type {
        background-color: #00a4c8!important;
        color: #fdcb6f;
    }
}
    }
    li {
        padding: 13px 0px;
        a {text-decoration: none;}
    }


.poster {
    background: url("http://i.imgur.com/HeKR7hr.png") no-repeat;
    background-size: 100% 100vh;
    .magazine {
        margin: auto;
        transform:rotate(45deg);
        height: 300px;
        width: 250px;
    }
}

.descript {
    background: url("http://i.imgur.com/MdK8IDc.png") no-repeat;
    background-size: 100% 100vh;
    align-items: center;
    justify-content: center;
    .content {
        flex-direction: column;
        width: 90%;
        .header {
            color: white;
            font-size: 30px;
            text-transform: uppercase;
            background-color: #ee5854;
            padding: 20px 0px;
            #title{
                margin: auto;
            }
        }
        .body {
            background-color: white;
            padding: 8px;
        }
    }
}

@media all and (min-width: 750px) {
    .block {
        flex:1 50%;
        height: 50vh;
        background-size: 100% 50vh;
    }
    .form {
        order: 1;
    .search_form {position: relative;}
    }
    body > div > div.block.list > ul > li {
        padding: 4.5px 0px;
    }
    .descript .content .header {
        font-size: 25px;
    }
    .descript .content .body {
        background-color: white;
        padding: 8px;
        width: auto;
    }
    .poster .magazine {
        height: 200px;
        width: 150px;
    }
    .list { order:3;}
    .poster { order:2;}
    .descript { order:4;}
}