<!doctype html>
<html lang="en" ng-app="app" >

<head>
    <meta charset="utf-8">
    <title>Oldmen test</title>

    <link rel="stylesheet" href="app.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.min.js"></script>

</head>
<body ng-controller="AppController">
    <div class="wrapper">
        <div class="block form">
            <p></p>
            <form class="search_form" action="" autocomplete="on">
                <input ng-model="search" id="search" name="search" type="text" placeholder="Search...">
                <input id="search_submit" value="" type="submit">
            </form>
        </div>
        <div class="block list">
            <ul class="list-items">
                <li ng-click="setTab(item)" ng-repeat="item in posters | limitTo:10 | orderBy:orderFunction | filter:{title:search}" ng-class-odd="'blue-type'" ng-class-even="'yellow-type'" ng-class="{active : isSet(item)}">
                    <a   ng-class-odd="'blue-type'" ng-class-even="'yellow-type'" href="#" ng-bind-html="item.title">
                    </a>
                </li>
            </ul>
        </div>
        <div class="block poster">
            <img id="image" src="resources/images/grand_tour.jpg" ng-src="resources/{{tab.image}}" alt="magazine" class="magazine">
        </div>
        <div class="block descript">
            <div class="content">
                <div class="header">
                    <h3 id="title" ng-bind-html="tab.title"></h3></div>
                <div id="deskr" class="body" ng-bind-html="tab.description"></div>
            </div>
        </div>
    </div>
    <script src="resources/posters.js"></script>
    <script src="app.js"></script>
</body>

</html>
